"*":
  "bracket-matcher": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "tool-bar"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro"
    preferredLineLength: 90
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "0dacece5-6c28-aa5c-7949-423cff26188c"
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-distraction-free-mode": {}
    "nuclide-format-js": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
    use: {}
  "terminal-plus":
    core: {}
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 9
    scrollPastEnd: false
    softWrap: false
    softWrapAtPreferredLineLength: false
".hack.html.text":
  editor:
    preferredLineLength: 9
".hackfragment.source":
  editor:
    preferredLineLength: 9
".hg-commit.text":
  editor:
    preferredLineLength: 9
