'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.operator-pending-mode)':
  'z -': 'unset!'
  'z .': 'unset!'
  'z b': 'proto-repl:execute-top-block'
  'z e': 'unset!'
  'z enter': 'unset!'
  'z s': 'unset!'
  'z z': 'proto-repl:execute-selected-text'
  'z c': 'proto-repl:remote-nrepl-connection'
  'z d': 'proto-repl:exit-repl'
  'z t': 'proto-repl:run-all-tests'
# '.workspace':
#   'ctrl-shift-g': 'github:toggle-git-tab-focus'
# '.platform-darwin, .platform-win32, .platform-linux':
#   'ctrl-g': 'unset!'
